.radio {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.radio:has(.native:disabled) {
  cursor: default;
}

.native {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: inset(50%);
  overflow: hidden;
}

.icon {
  display: none;
  width: 16px;
  height: 16px;
}

.native:checked:not(:disabled) ~ .iconChecked,
.native:checked:disabled ~ .iconCheckedDisabled,
.native:not(:checked):not(:disabled) ~ .iconUnchecked,
.native:not(:checked):disabled ~ .iconUncheckedDisabled {
  display: block;
}

.text {
  padding: 8px;
  border: 1px dashed transparent;
  font-family: var(--font-ui);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  white-space: nowrap;
  color: var(--text-primary);
}

.native:checked ~ .text {
  border-color: var(--main-black);
}

.native:disabled ~ .text {
  color: var(--text-disabled);
}

.native:checked:disabled ~ .text {
  border-color: var(--text-disabled);
}

.native:focus-visible ~ .text {
  border-color: var(--main-black);
  border-style: solid;
}
